
<div class="row">
    <div class="col">
      <select (change)="itemsPerPageChange($event)" class="custom-select w-25">
        <option *ngFor="let size of pageSizes" [value]="size" [selected]="size === 20">
          {{ size }}
        </option>
      </select>
    </div>
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Card" [(ngModel)]="searchKey"/>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="getInventoryList()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-center pt-3">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="pageChange($event)"
    ></pagination-controls>
  </div>
  
  <div class="card-columns">
    <div class="card shadow pointer" *ngFor="let pk of inventoryList | paginate : {
        itemsPerPage: itemsPerPage,
        currentPage: page,
        totalItems: totalItems
      };let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveCard(pk, i)"
      >
      <div class="card-body">
        <span> {{ pk.name}} </span>
        <span> {{ pk.description}} </span>
        <img src="{{ pk.url }}" alt="" /> <br />
        <a href="{{pk.url}}" class="card-link">Raw Data</a>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="pageChange($event)"
    ></pagination-controls>
  </div>